
  .vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._1q15b0b4 {  
  text-indent: -9999px; 
  overflow: hidden;
}
.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._1q15b0b4::before {  
  content: "Neuen Chat starten";
  display: block;
  text-indent: 0;
}

.vfrc-button._1q15b0b0.c26d8x0._1q15b0b3._1q15b0b4{   
  text-indent: -9999px; 
  overflow: hidden;
}
.vfrc-button._1q15b0b0.c26d8x0._1q15b0b3._1q15b0b4::before{   
  content: "Abbrechen";
  display: block;
  text-indent: 0;
}



@media (max-width: 1000px) {

  /*hier die class für das verschieben*/
  .vfrc-widget._1wkq7nf0._1wkq7nf2 {
    position: fixed !important;
    bottom: 80px !important;
    right: -92px !important;
    margin: 0 !important;
    
  }
}


@media (min-width: 1001px) {

  /*hier die class für das verschieben*/
  .vfrc-widget._1wkq7nf0._1wkq7nf2 {
    position: fixed !important;
    bottom: 0px !important;
    right: 0px !important;
    margin: 0 !important;
    
  }
}
